{% extends "base.html" %}

{% block content %}
<h3>Просмотр всех дней</h3>
<h4>{{ data[0] }}</h4>

<table class="table table-bordered">
    <tbody>
    {% for item in data[1] %}
        <tr>
            <td class="room-cell {{ 'light' if item[1] else 'dark' }}">
                {{ item[0] }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>



{% endblock %}

<table class="table table-bordered">
    <tbody>
    {% if data %}
    {% for item in data %}
    <tr>
        <td>{{ item[1] + " " + item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>
                <form method="POST" style="display: inline;">
                    <input type="hidden" name="_method" value="{{ loop.index }}">
                    <button type="submit" class="btn btn-warning">Удалить</button>
                </form>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4" class="text-center">Нет отчетов</td>
    </tr>
    {% endif %}
    </tbody>
</table>