{% extends "base.html" %}

{% block content %}
<h3>Просмотр всех дней</h3>
<div class="centered-form">
    <div class="form-container">
        <h4>{{ data[0] }}</h4>
    </div>
</div>

{% endblock %}

<table class="table table-bordered">
    <tbody>
    {% if data %}
    {% for item in data %}
    <tr>
        <td>{{ item[1] + " " + item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>
                <form method="POST" style="display: inline;">
                    <input type="hidden" name="_method" value="{{ loop.index }}">
                    <button type="submit" class="btn btn-warning">Удалить</button>
                </form>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4" class="text-center">Нет отчетов</td>
    </tr>
    {% endif %}
    </tbody>
</table>